<div class="card">
  <div class="comment-card-header">
    <!-- Render the title of one comment using a handlebars.js expression -->
    <header>{{title}}</header>
  </div>

    <div class="card-body">
      <p>{{description}}</p>
    </div>
</div>
  
</section>